/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #202123;
}

/* LEFT-ALIGNED CONTENT */
.nav-left {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 0 0 25px;
}
.nav-center {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 25px 0 25px;
}

/* Vinyl Vault logo*/
.nav-logo {

  padding: auto;
  height: auto;
  width: 4vw;
  box-sizing: border-box;
}

/* Vinyl Vault Title*/
/* LEFT-ALIGNED CONTENT */
.nav-left {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 0 0 25px;
}
.nav-center {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 25px 0 25px;
}
.nav-title {
  height: auto;
  width: 14vw;
  box-sizing: border-box;
  padding-bottom:4px;
}

/* NAV LINKS */
.nav-link-sign-up,
.nav-link-sign-in,
.nav-link-sign-out,
.nav-link-models {
  text-decoration: none;
  color: #dfa300;
  margin: 0 20px 0 20px;
  font-size: 20px;
}

.nav-link-models-button{
background-color: #dfa300;
padding:0.35em 1.2em;;
color:black;
font-weight: 700;
}
nav-link-sign-up,
/* RIGHT-ALIGNED CONTENT */
.nav-right {
  display: flex;
  align-items: center;
  padding: 0 25px 0 0;
}

/* WELCOME MESSAGE */
.nav-welcome {
  text-transform: uppercase;
  color: #dfa300;
  font-style: italic;
  font-size: 25px;
  font-weight: 500;
  /* padding: 0 80px 0 0; */
}

/* HOVER EFFECTS */
.nav-link-account:hover,
.nav-link-sign-in:hover,
.nav-link-models:hover {
  color: #fbc804;
  border-bottom: solid #f8b704 1px;
  transition: all ease-in-out 200ms;
}

.nav-link-account-icon img:hover,
.nav-link-sign-in-icon img:hover,
.nav-link-models-icon img:hover {
  filter: invert(67%) sepia(31%) saturate(6368%) hue-rotate(179deg)
    brightness(101%) contrast(91%);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 480px) {
  /* VINYL VAULT LOGO */
  .nav-logo {
    height: auto;
    width: 60px;
  }
  .nav-title {
   display:none;
  }
  /* HIDE TEXT LINKS & WELCOME */
  .nav-link-account,
  .nav-link-sign-in,
  .nav-link-models,
  .nav-welcome {
    font-size: 10px;
    text-align:center;
  }

  .nav-left {
    justify-content: flex-start;
   padding:5px;
    margin:0 auto;
  }
  .nav-center {
  display: none;
  width:1px
  }
  .nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-right {
    justify-content: space-evenly;
  }
  /* WELCOME MESSAGE */
.nav-welcome {
  /* text-transform: uppercase;
  color: #f4cd24;
  font-style: italic;
  font-size: 13px;
  font-weight: 200;
  padding: 0 80px 0 0; */
  display: none;
}
}









/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$/
/* ipad media query */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
 {
  .nav-logo {
    height: auto;
    width: 80px;
  }
  .nav-title {
    display:none;
   }

  .nav-welcome {
    font-size: 18px;
  }
  .nav-link-models{
    margin-right:2px;
    padding:0;
  }
  .nav-left {
    justify-content: flex-start;
   padding:5px;
    margin:0 auto;
width:100px;
    margin:0;
  }
  
  .nav-center {
padding:0px; 
margin:0;
width:10%;

  }
  .nav-right {
    justify-content: space-between;
    /* margin-left: -25px; */
  }
  
}