/* ALUBM DETAIL */
.album-detail-container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 0 30px 0;
}

.album-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #0a0a09;
  width: auto;
}

.render-detail {
  font-size: 3vw;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.25;
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  color: #dfa300;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 15px;
  /* Add shadows to create the "card" effect */
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0);
  transition: 0.3s;
  background-color: rgba(5, 5, 5, 0.5);
  border-radius: 3px;
  width: 37vw;
}

.detail:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
}
.button-container {
  margin-top: 20px;
}

.album-detail-image {
  display: flex;
  width: 37vw;
  padding: 20px;
  margin-right: 10px;
}

@media only screen and (max-width: 480px) {
  .album-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0a0a09;
    width: auto;
  }

  .album-detail-image {
    display: flex;
    width: 100%;
  }
  .render-detail {
    font-size: 25px;
  }

  .detail {
    margin: 0px 10px 0 10px;
    width: 100%;
  }
}
