.create-album-container {
  display: flex;
  margin: 0 auto;
  border-radius: 4%;
  margin-top: 80px;
  width: 70vw;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: rgba(17, 16, 16, 0.5);
  border-radius: 5px;
  padding-bottom: 25px;
}

.album-create-title {
  display: flex;
  width: 100%;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 3.25vw;
  color: #dfa300;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  line-height: 1.5;
  font-weight: 600;
  padding: 5px;
}

.album-create {
  display: flex;
  margin: 0 auto;
  border-radius: 4%;
  margin-top: 40px;
}
.album-create-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.album-create-inputbox {
  font-size: 2.5vw;
  margin: 5px;
  width: 25vw;
}

.input-name {
  font-size: 48px;
}

.ablum-create-submit-button {
  display: flex;
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  width: 10vw;
  margin-top: 25px;
  background-color: black;
  color: #dfa300;
  border: none;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
}

.ablum-create-submit-button {
  transition-duration: 0.4s;
}

.ablum-create-submit-button:hover {
  background-color: #fbc804; /* Green */
  color: black;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .create-album-container {
    flex-direction: column;
    margin-top: 40px;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .album-create-title {
    display: flex;
    width: 100%;
    font-size: 35px;
    line-height: 1.1;
  }
  .album-create {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 4%;
    margin-top: 10px;
  }
  .album-create-form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    justify-content: space-evenly;
  }
  .album-create-inputbox {
    font-size: 25px;
    margin: 5px;
    width: 85%;
    margin-left: 20px;
  }
  .ablum-create-submit-button {
    font-size: 25px;
    width: 100px;
    margin-top: 10px;
    margin-left: 80px 20px 20px 20px;
  }
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .create-album-container {
    flex-direction: column;
    margin-top: 80px;
    width: 94%;
    justify-content: center;
    align-items: center;
margin: 20px;
  }
  .album-create-title {
    width: 100%;
    font-size: 45px;
    line-height: 1.1;
  }
  .album-create-inputbox {
    font-size: 35px;
    margin: 5px;
    width: 295px;
    margin-left: 15px;
    padding: 0px;
  }
  .ablum-create-submit-button {
    width: 125px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 35px;
  }
}
