/* ALBUM DISPLAY FLEX */
.album-display{
display:flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
text-align: center;
}

.album-details{
  display: flex;
  flex-direction: column;
text-align: center;
padding:10px;
align-items: center;
  justify-content: center;
  color: #0a0a0a;

}

.cover_url{
padding: 0 20px 0 20px;
width: 20vw;
}