.album-edit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 4%;
  margin-top: 40px;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-edit-image{
  width: 40vw;
}

.album-edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin: 0 0 0 40px;
}

.edit-create-form {
  display: flex;
  flex-direction: column;
  padding: 0px 12px 0px 12px;
  width: 30vw;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  background-color: rgba(3, 3, 3, 0.6);
  border-radius: 5px;
  padding: 5px;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 0 15px 25px 15px;
  line-height: 1.5;
}
.create-form {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 35px;
  font-weight: 600;
  color: aliceblue;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
.album-edit-label {
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: 600;
  color: aliceblue;
  margin-bottom: -5px;
}
.album-input {
  font-size: 20px;
  width: 28vw;
}

.album-edit-submit-button {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 10vw;
  margin-top: 25px;
  background-color: black;
  color: #dfa300;
  border: none;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
 
}
.album-edit-submit-button {
  transition-duration: 0.4s;
}

.album-edit-submit-button:hover {
  background-color: #fbc804; /* Green */
  color: black;
}
.album-edit-delete-button {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 10vw;
  margin-top: 40px;
  background-color: black;
  color: #dfa300;
  border: none;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
  margin-top:15px !important;
 
}

.album-edit-delete-button {
  transition-duration: 0.4s;
}

.album-edit-delete-button:hover {
  background-color: #fbc804; /* Green */
  color: black;
}

/* Handheld Devide Media Queries */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)  {
  .album-edit-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

  }

  .album-edit-image{
width:200px

  }
  .album-edit-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  h2 {
    margin:0;
    font-size: 20px;
    font-weight: 600;
  }
  .album-edit-label {
    font-size: 16px;
    font-weight: 600;
  }

  .edit-create-form {
    width: 350px;
    margin-top: 5px;
   
  }

  .album-input {
    font-size: 13px;
    width: 100%;

  }
  .album-edit-submit-button {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 75px;
   
  }
  .album-edit-delete-button {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 70px;
    margin-left:20px;
   
  }
}


/* Ipad media queries */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .album-edit-image{
      width:400px
        }

        .edit-create-form {
          width: 300px;
          margin-top: 5px;
        }


        .album-edit-form {
         margin: 0 10px 0 20px;
        }
        .album-input {
          font-size: 20px;
          width: 35vw;
        }

        .album-edit-submit-button {
          font-size: 20px;
          height: 40px;
          width: 90px;
          margin-left:5px;
         
        }

        .album-edit-delete-button {
          font-size: 20px;
          height: 42px;
          width: 90px;
          margin-left:20px;
        }

}