
.album-edit-container{
  display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
border-radius: 4%;
margin-top: 40px;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.edit-product-image {

}

.album-edit-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin: 0 0 0 40px;
  }

.edit-create-form{
  display: flex;
  flex-direction: column;
/* align-items: center; */
  padding: 20px;
  width: 30vw;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgba(17, 16, 16, 0.5);
  border-radius: 5px;
  padding: 5px;
  text-shadow:
  1px 1px 0 #000,
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  padding: 0 15px 25px 15px; 
}
.create-form {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
h2{
  font-family: 'Cormorant Garamond', serif;
  font-size:35px;
  font-weight: 600;
  color: aliceblue;
  text-shadow:
  1px 1px 0 #000,
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.album-edit-label{
  font-family: 'Cormorant Garamond', serif;
  font-size:25px;
  font-weight: 600;
  color: aliceblue;
}
.album-input{
  font-size: 20px;
width:28vw;

}

.submit-button{
  margin-top: 5px;
  width:10vw;
}
.delete-button{
  margin-top: 15px;
  width:10vw;
  height: 43px;
  background-color: black;
  color:white;
  
}